body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; 
}
/* first section */
.a{

    width: 30%; 
}
.b{
    display: flex;
    margin-bottom: 100px;
    
}
.para{
    width: 30%;
    padding: 30px;
    margin-left: 54px;
}
section div img{
    width: 100%;
 
    margin-left: 200px;
    width: 113%;
}
.bag{
    background-image: url("images/top-banner.png");
background-repeat: no-repeat;
}
span{
    color: coral;
}
h1{
    font-size: 3rem;
}
.my{
    padding: 10px 30px;
    border: none;
    background-color: olive;
}
/* first section */
.m{

    margin-left: 350px;
}
.n{

    margin-left: -89px;
}
/* section 2  */
.three{
   
    display:flex;

}
.ex{
    margin-right:30px;
background-color: rgb(255, 255, 255);
width:500px ;
padding:20px;
margin-left: 50px;
box-shadow: 4px 4px 8px black;
border-left: 2px solid black;
}

.tata{
    margin-left: 50px;
}